
button{

    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 20px;

}


ion-icon{

    font-size: 20px;
    margin-right: 5px;
    background: midnightblue;
    color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 50px;


}